* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0 10px; }
  @media (min-width: 768px) {
    body {
      padding: 0 20px; } }
  @media (min-width: 1280px) {
    body {
      padding: 0 50px; } }

h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em; }

:focus {
  outline-color: #e98819; }

.hidden {
  display: none; }

.app-brand {
  height: 50px;
  background-color: #e98819;
  margin: -50px -50px 0 -50px; }

.textarea-wrapper textarea, .backdrop {
  width: 1000px;
  height: 250px; }

.offset-tool-wrapper input, .offset-tool-wrapper textarea {
  font-size: 1.33em; }

.content-header {
  display: flex; }
  .content-header label + input {
    margin-left: 8px; }
  .content-header div + div {
    margin-left: 75px; }

.content-main {
  margin-top: 40px; }

.search-row {
  display: flex;
  border-bottom: 1px solid #F4F4F4;
  padding: 20px 0; }
  .search-row label + input, .search-row label + textarea, .search-row label + .container {
    display: block;
    margin-top: 6px; }
  .search-row > div + div {
    margin-left: 40px; }

.button-wrapper {
  align-self: center;
  margin-left: 40px; }
  .button-wrapper button {
    height: 30px;
    width: 30px; }
    .button-wrapper button + button {
      margin-left: 10px; }

.btn-add-row {
  display: none; }

.content-main .search-row:only-child .btn-remove-row {
  display: none; }

.content-main .search-row:last-child .btn-add-row {
  display: inline-block; }

.backdrop {
  overflow: auto;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  pointer-events: none; 
  padding: 2px;}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
  font-size: 1.33em;
  font-family: monospace; }

mark {
  color: transparent;
  background-color: #d4e9ab; }

.data {
  background-color: transparent; }

textarea {
  margin: 0;
  border-radius: 0;
  z-index: 2;
  overflow: auto;
  display: block;
  position: relative;
  resize: none; }

.notes-wrapper textarea {
  width: 350px;
  height: 250px; }

.value-action-buttons {
  margin-top: 10px; }
  .value-action-buttons .action-button {
    display: block;
    padding: 10px; }
    .value-action-buttons .action-button + .action-button {
      margin-top: 10px; }

.offset-match {
  background-color: #e98819; }


.sticky {
  position: fixed;
  top: 0;
  padding: 10px 50px;
  z-index: 3;
  background-color: #F4F4F4;
  right: 0;
  left: 0;
  border-bottom: 1px solid #333;
}

.hidden {
  display: none;
}

input {
  padding: 6px;
}